In [1]:
# this file is to transform data into desired format

In [2]:
# import libraries

import pandas as pd
import numpy as np

In [3]:
# reading csv file
df = pd.read_csv('combined_data_orig.csv')
df.head()

,year,month,day,hour,zone,city,longitude,latitude,aqi,co,no,no2,o3,so2,pm2_5,pm10,nh3,temperature,dewpt
0,2021,1,1,0,1,Sukhumi,41.0193,43.0034,1,211.95,0.00,0.48,53.64,0.03,1.09,1.25,0.85,8.6,5.9
1,2021,1,1,0,2,Kabul,69.1777,34.5260,3,2002.72,0.00,16.62,60.08,2.00,24.86,31.04,7.22,-9.7,-23.1
2,2021,1,1,0,3,Episkopi Cantonment,32.8348,34.6754,3,240.33,0.00,2.21,72.24,1.55,22.24,34.35,0.33,13.8,11.9
3,2021,1,1,0,4,Tirana,19.8256,41.3305,1,240.33,0.00,3.30,51.50,0.60,2.70,4.00,0.36,7.7,5.7
4,2021,1,1,0,5,Algiers,3.0602,36.7754,2,267.03,1.66,50.72,16.99,4.23,3.46,4.96,0.34,9.5,4.3

In [4]:
# adding a column of date and time from year, month, day, hour in following format
# 2019-01-01 00:00:00
df['date'] = pd.to_datetime(df[['year', 'month', 'day', 'hour']]).dt.strftime('%Y-%m-%d %H:%M:%S')
df.head()

,year,month,day,hour,zone,city,longitude,latitude,aqi,co,no,no2,o3,so2,pm2_5,pm10,nh3,temperature,dewpt,date
0,2021,1,1,0,1,Sukhumi,41.0193,43.0034,1,211.95,0.00,0.48,53.64,0.03,1.09,1.25,0.85,8.6,5.9,2021-01-01 00:00:00
1,2021,1,1,0,2,Kabul,69.1777,34.5260,3,2002.72,0.00,16.62,60.08,2.00,24.86,31.04,7.22,-9.7,-23.1,2021-01-01 00:00:00
2,2021,1,1,0,3,Episkopi Cantonment,32.8348,34.6754,3,240.33,0.00,2.21,72.24,1.55,22.24,34.35,0.33,13.8,11.9,2021-01-01 00:00:00
3,2021,1,1,0,4,Tirana,19.8256,41.3305,1,240.33,0.00,3.30,51.50,0.60,2.70,4.00,0.36,7.7,5.7,2021-01-01 00:00:00
4,2021,1,1,0,5,Algiers,3.0602,36.7754,2,267.03,1.66,50.72,16.99,4.23,3.46,4.96,0.34,9.5,4.3,2021-01-01 00:00:00

In [5]:
# converting date column to followin format
# July 19, 2017, 7:44 PM

df['date'] = pd.to_datetime(df['date']).dt.strftime('%B %d, %Y, %I:%M %p')
df.head()

,year,month,day,hour,zone,city,longitude,latitude,aqi,co,no,no2,o3,so2,pm2_5,pm10,nh3,temperature,dewpt,date
0,2021,1,1,0,1,Sukhumi,41.0193,43.0034,1,211.95,0.00,0.48,53.64,0.03,1.09,1.25,0.85,8.6,5.9,"January 01, 2021, 12:00 AM"
1,2021,1,1,0,2,Kabul,69.1777,34.5260,3,2002.72,0.00,16.62,60.08,2.00,24.86,31.04,7.22,-9.7,-23.1,"January 01, 2021, 12:00 AM"
2,2021,1,1,0,3,Episkopi Cantonment,32.8348,34.6754,3,240.33,0.00,2.21,72.24,1.55,22.24,34.35,0.33,13.8,11.9,"January 01, 2021, 12:00 AM"
3,2021,1,1,0,4,Tirana,19.8256,41.3305,1,240.33,0.00,3.30,51.50,0.60,2.70,4.00,0.36,7.7,5.7,"January 01, 2021, 12:00 AM"
4,2021,1,1,0,5,Algiers,3.0602,36.7754,2,267.03,1.66,50.72,16.99,4.23,3.46,4.96,0.34,9.5,4.3,"January 01, 2021, 12:00 AM"

In [6]:
# checking for null values
df.isnull().sum()

year                0
month               0
day                 0
hour                0
zone                0
city                0
longitude           0
latitude            0
aqi                 0
co                  0
no                  0
no2                 0
o3                  0
so2                 0
pm2_5               0
pm10                0
nh3                 0
temperature    366801
dewpt          366801
date                0
dtype: int64

In [7]:
# drop rows with null values
df = df.dropna()

In [ ]:
# creating a new column of smog index based on following conditions
# value equal to max from pm10 or pm2_5 if temperature is less than 25 and pm10 or pm2_5 is more than 300
# null in other case

df['smog'] = np.where((df['temperature'] < 25) & (df['pm10'] > 300), df[['pm10', 'pm2_5']].max(axis=1), np.nan)

In [ ]:
# create a new dataframe with following conditions
# year = 2022
# month = 11
df_test = df[(df['year'] == 2022) & (df['month'] == 11)]

# drop rows with year = 2022 and month = 11
df = df.drop(df_test.index)

In [ ]:
# # create a new dataframe with following conditions
# # year = 2022
# # month = 10
# df_test = df[(df['year'] == 2022) & (df['month'] == 10)]

# # drop rows with year = 2022 and month = 11
# df = df.drop(df_test.index)

In [ ]:
# storing the data in csv file
df.to_csv('combined_data.csv', index=False)
df_test.to_csv('test_data.csv', index=False)